.git
.github

.env
.env.*
!.env.example

vendor
node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
README.md

docker-compose.yml
docker-compose.yaml